@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control-zoom {
	margin: calc(2rem + 30px) 1rem 1rem 1rem !important;
	transform: translateX(19rem);
	border: 2px solid hsl(0, 0%, 86%) !important;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.hide-left-sidebar {
	transform: translateX(0rem);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
